.todo-app {
  max-width: 400px;
  margin: 20px auto;
}
.todo-app input[type="text"] {
  margin-left: 5px;
}
.todo-list {
  margin: 10px 0;
  padding: 5px;
  max-width: 400px;
  height: 100px;
  list-style-type: none;
}
.todo-list label {
  cursor: pointer;
}
.todo-list li {
  padding-top: 10px;
}
.todo-list li button {
  margin-left: 10px;
  color: red;
}
.todo-list .done {
  text-decoration: line-through;
  color: grey;
}
.todoFilter a.active {
  color: red;
}
